/** body decoration style **/
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Verdana, Arial, sans-serif;
}

.body_lpane {
    display: inline;
    float: left;
    padding: 10px 0px 0px 0px;
    width: 150px;
}

.body_rpane {
    border-left: 1px solid #dedede;
    display: inline;
    float: left;
    width: 830px;
    padding: 10px 0px 0px 0px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-size: 11px;*/
}

/** end body decoration style **/

/** default style by tag name **/
img {
    border: none;
}

select {
    padding: 2px;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    -webkit-align-items: center;
    border: 1px solid #868686;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

label {
    font-size: 12px!important;
}

h1 {
    font-size: 12px;
    font-weight: bold;
}

input[type="text"] {
    margin-right: 4px;
    padding: 2px;
    border: 1px solid #868686;
    font-size: 12px !important;
}

input[type="text"]:disabled {
    margin-right: 4px;
    padding: 2px;
    border: 1px solid #cfcfcf;
}
input[readonly="readonly"], input[readonly] {
    margin-right: 4px;
    padding: 2px;
    border: 1px solid #cfcfcf;
    background: #e8e8ff;
}

textarea {
    margin: 0;
    resize: none;
    border: 1px solid #868686;
}

/** end default style by tag name **/

#main_container {
    position: relative;
    min-width: 980px;
    width: 100%;
    min-height: 100%;
    display: table;
    background: url('../images/shared/content_bg.jpg');
}

#main_container_login {
    position: relative;
    min-width: 980px;
    width: 100%;
    min-height: 100%;
    display: table;
    background: url('../images/login/login_backgrd.jpg');
}

#pnl_maincontainer {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

#header_logo {
    min-width: 980px;
    width: 100%;
    height: 71px;
    background-color: #3f5473;
    background-image: url('../images/shared/header_bg.jpg');
}

#header_logo_image {
    min-width: 500px;
    width: 500px;
    float: left;
}

#header_userinfo {
    min-width: 400px;
    width: 400px;
    height: 71px;
    float: right;
}

#header_user {
    text-align: right;
    margin: 15px 10px 0 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

#header_menu {
    text-align: right;
    margin: 12px 10px 0 0;
    font-size: 11px;
    color: white;
    cursor: default;
}

#header_menu a {
    color: white;
    cursor: pointer;
}

#header_menu a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

#header_detail {
    background-image: url('../images/shared/header_detail_bg.jpg');
    padding-bottom: 10px;
}

#header_collapse.open {
    background: url('../images/shared/collapse_open.png') no-repeat;
    min-width: 30px;
    width: 30px;
    min-height: 18px;
    height: 18px;
    margin: 8px 0 0 5px;
    cursor: pointer;
    float: left;
}

#header_collapse.close {
    background: url('../images/shared/collapse_close.png') no-repeat;
    min-width: 30px;
    width: 30px;
    min-height: 18px;
    height: 18px;
    margin: 8px 0 0 5px;
    cursor: pointer;
    float: left;
}

#header_button_bar {
    min-width: 820px;
    width: 820px;
    text-align: right;
    margin: 5px 5px 0 0;
    float: right;
}

#header_information {
    margin-top: 5px;
}

#header_information_table {
    /** table for application information **/
    margin-left: 5px;
    min-width: 920px;
    width: 99%;
    border-spacing: 3px;
    border-collapse: collapse;
    font-size: 11px;
}

#header_information_table td {
    border-spacing: 0;
    padding: 5px 2px 5px 2px;
}

#content_container {
    /*display: table-row;
    min-height: 400px;
    border: 1px solid;*/
    min-height: 100%;
    padding-bottom: 240px;
    /*padding: 0 5px 0 5px;*/
    background: url('../images/shared/content_bg.jpg');
}
#content_container_login {
    min-height: 100%;
    padding-bottom: 210px;
    background: url('../images/login/login_backgrd.jpg');
}
#pnl_maincontainer{
    position: relative;
    min-height: 100%;
    height: 100%;
}

#pnl_maincontainer_content{
    position: relative;
    min-height: 100%;
    height: 100%;
}

#frmMain{

}

#login_box{
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -350px;
}

.login-inp {
    background: url(../images/login/inp_login.jpg) no-repeat;
    border: none!important;
    color: #000!important;
    /*font-size: 18px!important;*/
    font-weight: bold!important;
    height: 28px;
    /*padding: 6px 6px 0 10px;*/
    width: 204px;
}
.login-button {
    /* background: url(../images/login/submit_login.gif) no-repeat; */
    background: url(../images/login/login_btn_nor.jpg) no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    height: 30px;
    text-indent: -3000px;
    font-size:0;
    line-height:0;
    overflow: hidden;
    width: 125px;

}

.login-button:hover {
    /* background: url(../images/login/submit_login.gif) no-repeat; */
    background: url(../images/login/login_btn_hover.jpg) no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    height: 30px;
    text-indent: -3000px;
    font-size:0;
    line-height:0;
    overflow: hidden;
    width: 125px;
    margin-right: 4px!important;

}

#content_name {
    font-weight: bold;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    min-width: 980px;
    width: 99%;
    margin-left: 5px;
    border-bottom: 1px solid #acacac;
    color: #393939;
}

#content {
    font-size: 12px;
    min-height: 215px;
}

#content_inbox {
    font-size: 12px;
    min-height: 350px;
}

#content_info {
    height: 24px;
    line-height: 24px;
    position: relative;
    min-width: 980px;
    width: 99%;
    border-bottom: 1px solid #acacac;
    margin-left: 5px;
}

#content_lastupdate {
    font-size: 11px;
    margin-top: 3px;
    float: right;
    height: 18px;
    line-height: 18px;
}

#content_trackchange {
    font-size: 11px;
    margin: 3px 5px 0 5px;
    float: right;
    text-decoration: underline;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
}

#content_form {
    margin-top: 8px;
}

.content_table_form {
    width: 100%;
}

.content_table_form td {
    line-height: 28px;
}

.content_table_form td.title {
    padding-left: 4px;
}

/*#content_form {
    width: 100%;
}
#content_form td{
    line-height: 28px;
}
#content_form td.title{
    padding-left: 4px;
}*/
/*
#table_information {
    border-spacing: 0;
    padding: 0;
    font-size: 1em;
}
#table_information td{
    padding: 4px 0 4px 5px;
    line-height: 14px;
}*/

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 210px;
}

#footer_container {
    min-height: 180px;
    height: 180px;
    background: #202932;
    /*margin-top:50px; */
    padding-left: 180px;
    padding-top: 30px;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: white;
    text-decoration: underline;
}

.bottom_menu:hover{
    color: white;
    text-decoration: underline;
}

.bottom_menu{
    color: white;
}

/** end content decoration **/

.ui-button-text-only .ui-button-text {
    padding: 0;
}

.require-field {
    color: red;
}

.smallest_4s {
    width: 40px;
}

.smallest {
    width: 50px;
}

.smaller {
    width: 80px;
}

.small {
    width: 100px;
}

.medium {
    width: 125px;
}

.large {
    width: 150px;
}

.larger {
    width: 175px;
}

.largest {
    width: 200px;
}

.largest_s {
    width: 250px;
}

.largest_m {
    width: 300px;
}

.largest_l {
    width: 350px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

td .option {
    align: center;
    text-align: center;
    padding: 0 !important;
}

/** form style **/
/*#content_form {
    width: 100%;
}
#content_form td{
    line-height: 28px;
}
#content_form td.title{
    padding-left: 4px;
}*/
.separate {
    border-top: 1px solid #acacac;
    height: 1px;
    margin: 5px 0;
}

#bottom_line {
    height: 60px;
    width: 100%;
}

/** table style **/
.title {
    font-weight: bold;
}

.indent {
    padding-left: 20px;
}

table.table_result {
    border-top: 1px solid #868686;
    border-right: 1px solid #868686;
    border-spacing: 0;
    border-collapse: collapse;
}

.table_result tr:hover td {
    background-color: #bbeeff;
    cursor: pointer;
}

.table_result th {
    text-align: center;
    height: 21px;
    background: url('../images/table/table_header_bg.jpg') repeat-x;
    background-color: #3f3f3f;
    font-weight: bold;
    color: white;
    padding: 2px 8px;
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

.table_result td {
    height: 21px;
    padding: 2px 8px;
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

.table_result td.indent_onelv {
    height: 21px;
    padding: 2px 8px 2px 20px;
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

.table_result td.indent_twolv {
    height: 21px;
    padding: 2px 8px 2px 40px;
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

table.table_noborder {
    border: none;
}

table.table_noborder td {
    border: none;
}

table.table_content {
    border-top: 1px solid #868686;
    border-right: 1px solid #868686;
    border-spacing: 0;
    border-collapse: collapse;
}

.table_content th {
    text-align: center;
    height: 21px;
    background: url('../images/table/table_header_bg.jpg') repeat-x;
    background-color: #3f3f3f;
    font-weight: bold;
    color: white;
    padding: 2px 8px;
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

.table_content td {
    height: 21px;
    padding: 2px 8px;
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

.table_content td.indent_onelv {
    height: 21px;
    padding: 2px 8px 2px 20px;
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

.table_content td.indent_twolv {
    height: 21px;
    padding: 2px 8px 2px 40px;
    border-left: 1px solid #868686;
    border-bottom: 1px solid #868686;
}

.result_green {
    background-color: green;
}

.result_yellow {
    background-color: yellow;
}

.result_red {
    background-color: red;
}

.deleteButton {
    background-image: url('../images/table/delete_icon.gif');
    border: none;
    color: white;
    font-weight: normal;
    text-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.deleteButton:hover {
    background-image: url('../images/table/delete_icon_hover.gif');
    border: none;
    color: white;
    font-weight: normal;
    text-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#table_information {
    border-spacing: 0;
    padding: 0;
    font-size: 1em;
}

#table_information td {
    padding: 4px 0 4px 5px;
    line-height: 14px;
}

h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1.1em;
    height: 20px;
    color: #393939;
}

.clear {
    clear: both;
}

/** Bank statement detail Table **/
td .cell_spacer {
    background-color: #ffffff;
    height: 28px;
}

.calendar_right input {
    text-align: right;
}

tfoot {
    background-color: #ffffff;
    height: 28px;
    border-color: #aaaaaa;
}

/** Overide Primeface Theme **/
.panel {
    border: none !important;
    background: none !important;
    padding: 0 !important;
}

.panel-dialog {
    padding: .5em 1em !important;
    border: none !important;
    background: none !important;
    padding: 0 !important;
}

.ui-panel .ui-panel-content {
    padding: 0 !important;
}

.messageDialog {
    min-width: 250px !important;
    max-width: 450px !important;
    width: auto;
}


/*////////////////////////////////////////////////////////// ISA    */

.subject {
    color: #005895;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 5px;
    /*width: auto !important;*/
}

.step_border {
    border-top: 1px solid #FFF;
    color: #0077c0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    padding-left: 5px;
    width: 96%;
}
.step_border:hover {
    background: #CEE5F3;
    border-top: 1px solid white;
    color: #0077c0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    padding-left: 5px;
    width: 96%;
}
.step_border_select, .step_border_select:hover {
    background-color: #CEE5F3;
    border-top: 1px solid #FFF;
    color: #0077c0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    padding-left: 5px;
    width: 96%;
}
.step_label {
    color: #0077c0;
    cursor: pointer;
    line-height: 20px;
    padding-left: 5px;
}

.isa_searchColumn1{
     width: 250px;
}
.isa_searchColumn2{
     width: 580px;
}
.isaPanelGridSearch table,tr{
    background: transparent !important;
    /*border: none !important;*/
}
.summary_column{
    background-color:#f4f8b6;
}