<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/logs/debug.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date %-5level [%thread] %logger [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--Daily rolling file appender -->
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<File>/tmp/logs/gold-server.log</File>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<FileNamePattern>/tmp/logs/gold-server.%d{yyyy-MM-dd}.log</FileNamePattern>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%date %-5level [%thread] %logger [%file:%line] %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <logger name="com.clevel" level="DEBUG"/>
    <logger name="org.hibernate" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>

