<?xml version="1.0" encoding="UTF-8"?>
<bean:beans
        xmlns:bean="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/security"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config="false">
        <intercept-url pattern="/admin/**" access="ROLE_SYSTEM"/>
        <intercept-url pattern="/site/**" access="ROLE_ABDM,ROLE_BDM,ROLE_ZM,ROLE_RM,ROLE_HSME,ROLE_CHIEF,ROLE_UW,ROLE_SSO"/>
        <intercept-url pattern="/isa/**" access="ROLE_ISA"/>
        <form-login login-page="/login.jsf" />
        <logout invalidate-session="true" delete-cookies="true" logout-success-url="/login.jsf"/>
        <access-denied-handler error-page="/error/accessDenied.jsf" />
        <anonymous enabled="false"/>
        <custom-filter ref="sessionManagementFilter" before="SESSION_MANAGEMENT_FILTER" />
        <session-management>
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="false"
                                 session-registry-alias="sessionRegistry" expired-url="/login.jsf"/>
        </session-management>
    </http>

    <authentication-manager />

    <bean:bean id="sessionManagementFilter" class="org.springframework.security.web.session.SessionManagementFilter">
        <bean:constructor-arg name="securityContextRepository" ref="httpSessionSecurityContextRepository" />
        <bean:property name="invalidSessionStrategy" ref="jsfRedirectStrategy" />
    </bean:bean>

    <bean:bean id="jsfRedirectStrategy" class="com.clevel.selos.security.JSFRedirectionStrategy">
        <bean:property name="invalidSessionUrl" value="/login.jsf" />
    </bean:bean>

    <bean:bean id="httpSessionSecurityContextRepository" class="org.springframework.security.web.context.HttpSessionSecurityContextRepository"/>

</bean:beans>
